<div class="p-6 my-6 mx-auto bg-white rounded-2xl shadow-lg border border-gray-200">
  <h2 class="text-3xl font-bold mb-4 text-pink-500 text-center">Gestion des formations</h2>

  @if (trainings) {
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-gray-200 text-gray-700">
          <th class="border px-4 py-2 text-left">ID</th>
          <th class="border px-4 py-2 text-left">Nom</th>
          <th class="border px-4 py-2 text-left">Description</th>
          <th class="border px-4 py-2 text-left">Prix</th>
          <th class="border px-4 py-2 text-left"></th>
        </tr>
      </thead>
      <tbody>
        @for (training of trainings; track training.id) {
          <tr class="even:bg-gray-50">
            <td class="border px-4 py-2">{{ training.id }}</td>

            <td class="border px-4 py-2 font-semibold text-gray-800">
              @if (editTrainingId === training.id) {
                <form [formGroup]="editTrainingForm">
                  <input class="w-full border rounded px-2 py-1" formControlName="name" />
                </form>
              } @else {
                {{ training.name }}
              }
            </td>
            <td class="border px-4 py-2 text-gray-700">
              @if (editTrainingId === training.id) {
                <form [formGroup]="editTrainingForm">
                  <input class="w-full border rounded px-2 py-1" formControlName="description" />
                </form>
              } @else {
                {{ training.description }}
              }
            </td>

            <td class="border px-4 py-2 font-medium text-gray-900">
              @if (editTrainingId === training.id) {
                <form [formGroup]="editTrainingForm">
                  <input class="w-full border rounded px-2 py-1" formControlName="price" />
                </form>
              } @else {
                {{ training.price | currency: 'EUR' }}
              }
            </td>

            <td class="border px-4 py-2">
              @if (editTrainingId === training.id) {
                <div class="flex gap-2">
                  <button (click)="saveEdit(training.id)" class="text-green-600 font-medium">
                    Valider
                  </button>
                  <button (click)="cancelEdit()" class="text-red-500 font-medium">Annuler</button>
                </div>
              } @else {
                <div class="flex flex-col gap-2">
                  <button
                    (click)="deleteTraining.emit(training.id)"
                    class="text-pink-400 hover:underline"
                  >
                    Supprimer
                  </button>
                  <button (click)="startEdit(training)" class="text-purple-600 hover:underline">
                    Modifier
                  </button>
                </div>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p class="text-gray-500 italic mt-4 text-center">Aucune formation existante</p>
  }
</div>
