<div class="p-6 my-6 max-w-4xl mx-auto">
  @if (listCartTrainings.length > 0) {
    <h2 class="text-3xl font-bold mb-4 text-pink-500 text-center">Votre Panier</h2>
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-gray-200 text-gray-700">
          <th class="border px-4 py-2 text-left">ID</th>
          <th class="border px-4 py-2 text-left">Nom</th>
          <th class="border px-4 py-2 text-left">Description</th>
          <th class="border px-4 py-2 text-left">Prix</th>
          <th class="border px-4 py-2 text-left">Quantité</th>
          <th class="border px-4 py-2 text-left"></th>
        </tr>
      </thead>
      <tbody>
        @for (training of listCartTrainings; track training.id) {
          <tr class="even:bg-gray-50 hover:bg-pink-50 transition">
            <td class="border px-4 py-2">{{ training.id }}</td>
            <td class="border px-4 py-2 font-semibold text-gray-800">{{ training.name }}</td>
            <td class="border px-4 py-2 text-gray-700">{{ training.description }}</td>
            <td class="border px-4 py-2 font-medium text-gray-900">
              {{ training.price | currency: 'EUR' }}
            </td>
            <!-- <td class="border px-4 py-2">{{ training.quantity }}</td> -->
            <td class="border px-4 py-2">
              <input
                type="number"
                [value]="training.quantity"
                (input)="updateQuantity(training, $any($event.target).valueAsNumber)"
                class="w-20 p-1 text-sm border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-pink-400"
              />
            </td>
            <td class="border px-4 py-2">
              <div class="flex items-center justify-center h-full">
                <button
                  class="px-4 py-2 bg-pink-400 text-white rounded-2xl hover:bg-pink-500 transition font-medium whitespace-nowrap"
                  (click)="removeTrainingFromCart(training)"
                >
                  Supprimer
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <div class="mt-6 flex justify-end items-center gap-4">
      <span class="text-lg font-semibold text-gray-700">Total :</span>
      <span class="text-xl font-bold text-pink-500">{{ totalPrice | currency: 'EUR' }}</span>
    </div>
    <button
      class="w-auto p-2 bg-pink-400 text-white rounded-2xl hover:bg-pink-500 transition font-medium"
      (click)="clearCart()"
    >
      Vider le panier
    </button>
  } @else {
    <p class="text-gray-500 italic mt-4 text-center">Panier vide</p>
  }
</div>
